<!doctype html>
<html lang="en">
<head>
  
  <meta charset="utf-8">
  <title>sp-api</title>
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">

  <link rel="stylesheet" href={{ url_for('static', filename="style.css") }}>
  <link rel="shortcut icon" href={{ url_for('static', filename="favicon.png") }}>

</head>

<body>


    <div id="title">
      <h1>sp-api</h1>
      <p>Uma API RESTful em Python com dados de São Paulo e região</p>
    </div>

    <div class="links-list">
      <ul>
        <li><a class="links" href="http://spapi.co/geral">/geral</a></li>
        <li><a class="links" href="http://spapi.co/populacao_por_faixa_etaria">/populacao_por_faixa_etaria</a></li>
        <li><a class="links" href="http://spapi.co/populacao_por_grau_de_instrucao">/populacao_por_grau_de_instrucao</a></li>
        <li><a class="links" href="http://spapi.co/populacao_por_genero">/populacao_por_genero</a></li>
        <li><a class="links" href="http://spapi.co/populacao_por_renda_familiar">/populacao_por_renda_familiar</a></li>
        <li><a class="links" href="http://spapi.co/matriculas_escolares_por_tipo">/matriculas_escolares_por_tipo</a></li>
        <li><a class="links" href="http://spapi.co/renda">/renda</a></li>
        <li><a class="links" href="http://spapi.co/populacao_trabalhadora_por_vinculo">/populacao_trabalhadora_por_vinculo</a></li>
        <li><a class="links" href="http://spapi.co/populacao_por_condicao_atividade">/populacao_por_condicao_atividade</a></li>
        <li><a class="links" href="http://spapi.co/empregos_por_setor">/empregos_por_setor</a></li>
        <li><a class="links" href="http://spapi.co/empregos_por_classe">/empregos_por_classe</a></li>
        <li><a class="links" href="http://spapi.co/empregos_por_vinculo">/empregos_por_vinculo</a></li>
        <li><a class="links" href="http://spapi.co/empregos_por_tipo_localidade">/empregos_por_tipo_localidade</a></li>
        <li><a class="links" href="http://spapi.co/emprego_interno_externo">/emprego_interno_externo</a></li>
        <li><a class="links" href="http://spapi.co/familias_por_numero_de_automoveis">/familias_por_numero_de_automoveis</a></li>
        <li><a class="links" href="http://spapi.co/viagens_produzidas_por_modo">/viagens_produzidas_por_modo</a></li>
        <li><a class="links" href="http://spapi.co/viagens_produzidas_por_tipo">/viagens_produzidas_por_tipo</a></li>
        <li><a class="links" href="http://spapi.co/viagens_produzidas_por_motivo">/viagens_produzidas_por_motivo</a></li>
        <li><a class="links" href="http://spapi.co/tempo_medio_viagens">/tempo_medio_viagens</a></li>
        <li><a class="links" href="http://spapi.co/viagens_atraidas_por_modo">/viagens_atraidas_por_modo</a></li>
        <li><a class="links" href="http://spapi.co/viagens_atraidas_por_tipo">/viagens_atraidas_por_tipo</a></li>
        <li><a class="links" href="http://spapi.co/viagens_atraidas_por_motivo">/viagens_atraidas_por_motivo</li></a></li>
      </ul>
    </div>

    <div id="footer">
      <p>Criado por <a href="https://github.com/lucasdnd">Lucas Tulio</a> | Powered by <a href="https://github.com/mitsuhiko/flask">Flask</a> and <a href="https://github.com/PyMySQL/PyMySQL">PyMySQL</a></p>
    </div>

  <a href="https://github.com/lucasdnd/sp-api" target="_blank"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"></a>

</body>
</html>
